ui5-dialog {
  --_ui5_dialog_content_padding: 0;
  align-content: center;
}

ui5-dialog::part(content) {
  padding: 0;
}

.invoice-card {
  width: 88vw;
  max-width: 820px;
  margin: 0 auto;
}

.header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.invoice{
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #fff;
}

.header ui5-text{
    font-size: 20px;
    font-weight: 600;
}

.header ui5-button{
    background-color: #225C9E;
}

.invoice-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #F2F4F8;
}

.invoice-header ui5-text{
    font-size: 20px;
    font-weight: 600;
}

.invoice-header ui5-button{
    background-color: #225C9E;
}

.invo-details{
    margin: 20px;
    border-radius: 12px;
    padding: 10px 15px;
}

.details-header{
    background-color: #F2F4F8;
    border-radius: 12px 12px 0 0;
}

.details-header ui5-text{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}


.invoice-deta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.invoice-no ui5-label{
    padding-right: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #1D2D3E;
}

.invoice-name{
    padding: 10px 0;
}

.invoice-name ui5-label{
    padding-right: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #1D2D3E;
}

.invoice-ad{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 12px 0;
}

.invoice-address ui5-input{
    width: 80%;
}

.invoice-address ui5-label{
    padding-right: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #1D2D3E;
}

.invoice-tax ui5-label{
    padding-right: 4px;
    font-size: 14px;
    font-weight: 400;
    color: #1D2D3E;
}


.invo-item{
    margin: 18px;
    border-radius: 12px;
    padding: 10px 15px;
}

.items-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F4F8;
    border-radius: 12px 12px 0 0;
}

.items-header ui5-button{
    height: 30px;
    margin: 0 12px 0 0;
    background-color: #F2F4F8;
}

.items-header ui5-text{
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
}

.table{
    padding: 12px 0;
    max-height: 200px; 
    overflow-y: auto;

}

.table-header{
    background-color: #F2F4F8;
}

.table-body ui5-text{
    font-size: 14px;
    font-weight: 500;
    color: #1D2D3E;
}

.table-body ui5-button{
    color: #225C9E;
    height: 30px;
}

.edit-btn{
    display: flex;
    align-items: center;
    gap: 4px;
}

.total{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
    justify-content: flex-start;
    text-align: end;
    padding: 12px 0;
}

.sub-total,
.tax-total,
.net-total {
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.sub-total,
.tax-total{
    border-bottom: 1px solid #ccc;
    padding-bottom: 4px;
}

.sub-total,
.tax-total ui5-label{
    font-size: 14px;
    font-weight: 500;
    color: #1D2D3E;
}

.net-total  ui5-label{
    font-size: 14px;
    font-weight: 700;
    color: #1D2D3E;
}

/* .invoice-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #F2F4F8;
    border-top: 1px solid #ccc;
} */

.f-right-btn{
    display: flex;
    align-items: center;
    gap: 8px;
}

.download-btn ui5-button{
    background-color: #225C9E;
    color: #fff;
}
.invoice-history ui5-button{
    background-color: #225C9E;
    color: #fff;
}

.save-btn ui5-button{
    background-color: #225C9E;
    color: #fff;
}

.invoice-footer-2{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #F2F4F8;
    border-top: 1px solid #ccc;
}

.history-header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.history-header ui5-text{
    font-size: 20px;
    font-weight: 600;
}
